#pagination a:hover{
    background-color: red !important;
    color: white !important;
}
#pagination a:active{
    background-color: rgb(184, 75, 2) !important;
    color: black !important;}

#buttonsWindow {
  position: absolute;
  left: 30px; /* kicsit beljebb a szélétől */
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
#backWindow:hover{
    background-color: rgba(255, 255, 255, 0.377);
    
}

#forwardWindow:hover{
    background-color: rgba(255, 255, 255, 0.377);
}

#icon{
    height: 4rem;
    border-radius: 50%;
}

#episodes{
    font-weight: bold;
}
#location{
    font-weight: bold;
}
#characters{
    font-weight: bold;
}