#title{
    text-align: center;
    text-decoration: underline;
    font-weight:900;
}
#pagination{
    display: flex;
    justify-content: center;
}

#pagination a { background-color:rgb(255, 165, 0); color: black;}

#pagination .disabled a { background-color: rgb(255,165,0,0.4) !important; color: white; }

#pagination .active a { background-color:rgb(255, 51, 0); text-decoration: underline; color: white;}

#pagination a:hover{
    background-color: red !important;
    color: white;
}
#pagination a:active{
    background-color: rgb(184, 75, 2) !important;
    color: black;
}


#episodes{
    font-weight: bold;
}
#location{
    font-weight: bold;
}
#characters{
    font-weight: bold;
}

#icon{
    height: 4rem;
    border-radius: 50%;
}
#buttonsWindow {
  position: absolute;
  left: 30px; /* kicsit beljebb a szélétől */
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
#backWindow:hover{
    background-color: rgba(255, 255, 255, 0.377);
    
}

#forwardWindow:hover{
    background-color: rgba(255, 255, 255, 0.377);
}
